.home-view {
  margin-top: 5px;

  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .calender-container {
    padding: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 80vh;
    overflow-y: auto;
  }

  .note-container {
    padding: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 80vh;
    overflow-y: auto;

    .note-card {
      width: 100%;
      word-break: break-all;
      margin-top: 10px;
    }
  }

  .col.left {
    padding-left: 16px;
  }

  .col.right {
    padding-left: 16px;
    padding-right: 16px;
  }
}