.home-view {
  margin-left: 10px;
  margin-top: 5px;

  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .calender-container {
    padding: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 80vh;
    overflow-y: auto;    
  }

  .note-container {
    padding: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 80vh;
    overflow-y: auto;

    .note-card{
      width: 100%;
      word-break: break-all;
      margin-top: 10px;
    }
  }

  .col {
    padding: 8px;
  }

  @media (max-width: 991.9px) {
    .col.left {
      display: none;
    }
  }
}