.home-view {
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .calender-container {
    padding: 0 10px;
    background-color: var(--ant-color-bg-container);
    border-radius: 10px;
    height: calc(100vh - 140px);
    overflow-y: auto;
  }

  .note-container {
    padding: 0 10px;
    background-color: var(--ant-color-bg-container);
    border-radius: 10px;
    height: calc(100vh - 140px);
    overflow-y: auto;

    .note-card {
      width: 100%;
      word-break: break-all;
      margin-top: 10px;
    }
  }

  .col.right {
    padding-left: 16px;
  }
}